*{
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', cursive;
}

.header{
    text-align: center;
    border: 1px solid black;
    padding: 1%;
    height: 100px;
    margin: 10px 10px 0px 10px;

}
.navigation{
    text-align: center;
    border: 1px solid black;
    padding: 1%;
    height:100px;
    margin: 0px 10px 0px 10px;
}
.index{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding:1%;
    width:20%;
    margin:0px 0px 0px 10px;
}
.content{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding:1%;
    width: 73.9%;
    
}
.footer{
    border: 1px solid black;
    text-align: center;
    padding: 1%;
    height: 100px;
    margin: 0px 10px 0px 10px;
}