*{
    padding: 0px;
    margin: 0px;
}
.header{
    border: 1px solid black;
    text-align: center;
    padding: 20;
}
.nav{
    border: 2px solid black;
    text-align: center;
    padding: 20;
}
.leftaside{
    border: 1px solid black;
    width: 100;
    padding: 205px 0px 205px 30px;
    display: inline-block;
}
.merge{
  
    display: inline-block;
    padding: 60;
    ;
}
.one{
    border: 1px solid black;
    padding: 40;
    margin-left: 500;
}
.two{
    border: 1px solid black;
    padding: 40;
    margin-left: 500;
    margin-top: 21px
}
.rightaside{
    border: 1px solid black;
    width: 100;
    padding: 205px 0px 205px 30px;
    display: inline-block;
    margin-left:545 ;   
}
.footer{
    border: 1px solid black;
    text-align: center;
    padding: 20;
}