*{
    margin: 0px;
    padding: 28px;
    font-family: 'Pacifico', cursive;
}

.head{
    text-align: center;
    background-color: rgb(67, 180, 218);
    padding: 1%;
    height: 100px;
    margin: 10px 10px 0px 10px;
}
.nav{
    text-align: center;
    background-color: rgb(67, 180, 218);
    padding: 1%;
    height: 100px;
    margin: 10px 10px 0px 10px;
}
.aside2{
    text-align: center;
    background-color: rgb(67, 180, 218);
    padding: 1%;
    height: 100px;
    margin: 10px 10px 0px 10px;
}
.foot{
    text-align: center;
    background-color: rgb(67, 180, 218);
    padding: 1%;
    height: 100px;
    margin: 10px 10px 0px 10px;  
}
.main{
    ;
}